html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    //background: #F0F2F4;
}

.navbar.is-white {
    //background: #F0F2F4;
}

.navbar-brand .brand-text {
    font-size: 1.11rem;
    font-weight: bold;
}

.hero .title {
    font-size: 3rem;
}

.article,
.tag-list {
    .content p {
        line-height: 1.9;
        margin: 15px 0;
    }
}

.author-image {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    //border: 3px solid #ccc;
    border-radius: 50%;
}

.media-center {
    display: block;
    margin-bottom: 1rem;
}

.media-content {
    margin-top: 1rem;
}

.article {
    margin-top: 1rem;
}

.article-title {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 2;
    margin-bottom: 0.5rem;
}

.article-subtitle {
    //color: #909AA0;
    margin-bottom: 3rem;
}

.article-footer,
.article-body {
    margin: 2rem 6rem;
}

.article-body {
    line-height: 1.4;
}

.article-footer {
    font-style: italic;
    padding: 1.5rem;

    .columns {
        width: 100%;
    }

    .button,
    .tag {
        font-style: normal;
    }
}

.list.box {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    >a {
        margin: 0.2rem;
    }
}

.paginator-container {
    padding: 2rem 0;
}

.search-results {
    display: none;

    @include desktop {
        position: absolute;
        top: 0;
        margin-top: 3rem;
        width: 50rem;
        right: 0;
        margin-right: 0.75rem;
    }
}

.search-results__items>li {
    list-style: none;
    margin-top: 1rem;

    &:first-child {
        margin-top: 0;
    }
}

.navbar-end {
    height: 100%;
}

