@import "./_vendor/darkly/variables";
@import "./_vendor/bulma-0.7.4/_bulma.sass";
@import "./_vendor/darkly/overrides";

@import "./zulma";

.box {
    $card-border-color: lighten($grey-darker, 5);
    box-shadow: none;
    border: $border-width solid $card-border-color;
    background-color: $grey-darker;
    border-radius: $radius;
}

.card .tag {
	background-color: $body-background-color
}