@import "./_vendor/slate/variables";
@import "./_vendor/bulma-0.7.4/_bulma.sass";
@import "./_vendor/slate/overrides";

@import "./zulma";

.box {
    $card-border-color: lighten($grey-darker, 5);
    $border-width: 2px default;
    box-shadow: none;
    border: $border-width solid $card-border-color;
    background-color: $grey-darker;
    border-radius: $radius;
}