{% extends "index.html" %}

{% import "post_macros.html" as post_macros %}
{% import "index_macros.html" as index_macros %}

{% block content %}
<!-- START NAV -->
{% block header %}
{{ super() }}
{% endblock header %}
<!-- END NAV -->
<main>
    <!-- START HERO TITLE -->
    {% if not title %}
    {% set title = taxonomy.name ~ ": " ~ term.name | capitalize %}
    {% endif %}
    {{ index_macros::hero(title=title,primary=false) }}
    <!-- END HERO TITLE -->
    <div class="container">
        <!-- START ARTICLE FEED -->
        {% if paginator %}
        {{ index_macros::list_articles(pages=paginator.pages) }}
        {% else %}
        {{ index_macros::list_articles(pages=term.pages) }}
        {% endif %}
        <!-- END ARTICLE FEED -->
        <!-- START PAGINATION -->
        {% if paginator %}
        {{ index_macros::paginate(paginator=paginator) }}
        {% endif %}
        <!-- END PAGINATION -->
    </div>
</main>
{% endblock content %}