{% extends "index.html" %}
{% import "index_macros.html" as index_macros %}
{% import "taxonomy_macros.html" as taxonomy_macros %}

{% block content %}
<!-- START NAV -->
{% block header %}
{{ super() }}
{% endblock header %}
<!-- END NAV -->
<main>
    <!-- START HERO TITLE -->
    {% if not title %}
    {% set title = "All " ~ taxonomy.name | title %}
    {% endif %}
    {{ index_macros::hero(title=title,primary=false) }}
    <!-- END HERO TITLE -->
    <!-- START TAXONOMY LIST -->
    {{ taxonomy_macros::list(terms=terms) }}
    <!-- END TAXONOMY LIST -->
</main>
{% endblock content %}